.right-column {
  @include flexbox-column(space-evenly);
}

.customer-single-booking-title {
  @include height-width(20%, 100%);
  font-size: 22px;
  text-align: center;
}

.customer-single-booking-info,
.customer-single-booking-submit {
  @include height-width(40%, 100%);
  @include flexbox-column("");
  font-size: 20px;
}

.customer-single-booking-info>h3 {
  @include top-bot-marg(5px, 5px);
}

.customer-book-room-button {
  @include height-width(25px, 30%);
  @include button-tabs($bluerum);
  font-size: 14px;
  color: $blackrum;
}

.customer-book-room-button:hover {
  background-color: $bluerum;
}

.total-bill-headline {
  @include top-bot-marg(8px, 8px);
  font-size: 28px;
}

.total-bill-amount {
  font-size: 24px;
}

.total-bill-message {
  font-size: 20px;
}

.room-image {
  min-height: 55%;
  max-height: 80%;
  max-height: 55%;
  max-width: 80%;
}