header {
  @include height-width(15%);
  background-color: $redrum;

  nav {
    @include height-width(100%);
    @include right-left-pad(20px, 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-title {
  font-size: 50px;
}

.nav-user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}

.bounce {
  -webkit-animation: bounce 1.2s both;
  animation: bounce 1.2s both;
}