.login-display {
  font-size: 30px;
}

.login-information {
  @include flexbox-column(space-evenly);
}

.login-input-field {
  @include height-width(150px);
  @include flexbox-column(space-around);
}

.login-input-row {
  @include height-width("", 350px);
  @include flexbox-row(space-evenly);
}

.login-username-input,
.login-password-input {
  @include height-width(25px, 150px);
  color: $blackrum;
}

.login-button {
  @include height-width(25px, 150px);
  font-size: 18px;
  color: $blackrum;
}

.login-button:hover {
  background-color: $bluerum;
}
