$background: url('../images/stanley-hotel.png');
$boxshadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$redrum: rgba(150, 2, 2, .9);
$bluerum: #4981e8;
$blackrum: #0d070c;
$whiterum: #FFF;
$greyrum: rgba(222, 222, 222, .9);

