$background: url('../images/stanley-hotel.png');
$boxshadow: rgba(0, 0, 0, 0.12) 0px 5px 10px, rgba(0, 0, 0, 0.24) 0px 5px 10px;
$redrum: rgba(150, 2, 2, .9);
$bluerum: rgba(2, 150, 150, .9);
$blackrum: #0d070c;
$whiterum: #FFF;
$greyrum: rgba(222, 222, 222, .9);

