// @import '../images/stanley-hotel.jpeg';

$background: url('../images/stanley-hotel.png');
$redrum: rgba(150, 2, 2, .9);
$redrum-hover: #f10424;
$pinkrum: #fc7c8d;
$blackrum: #0d070c;
$whiterum: #FFF;

