/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_mixins';
@import '_reset';
@import '_keyframes';
@import 'header';
@import 'login';
@import 'customer';
@import 'manager';

* {
  color: $whiterum;
}

html, body {
  @include height-width(100%);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  @include height-width(100%);
  background-image: $background;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

main {
  @include height-width(100%);
}

.customer-display,
.manager-display,
.login-display {
  position: relative;
  top: 15%;
  left: 15%;
  @include height-width(55%, 70%);
}

.button-tab {
  font-size: 18px;
  @include height-width(50px, 30%);
  @include button-tabs($redrum);
}

.button-tab:hover {
  background-color: $redrum-hover;
}

.button-tab-clicked {
  background-color: $redrum-hover;
  border: 5px solid $pinkrum;
}

.customer-information,
.manager-information,
.login-information {
  background: $redrum;
  @include height-width(100%, 100%);
}

.hidden {
  display: none;
}