/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_mixins';
@import '_reset';
@import '_keyframes';
@import 'header';
@import 'login';
@import 'customer';

* {
  color: $whiterum;
}

html, body {
  @include height-width(100%);
}

header {
  @include button-tabs("");
}

body::-webkit-scrollbar {
  display: none;
}

body {
  @include height-width(100%);
  background-image: $background;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

main {
  @include height-width(100%);
}

button {
  cursor: pointer;
}

table {
  @include height-width("", 100%);
}

caption {
  font-size: 26px;
  margin-bottom: 10px;
}

th {
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}

td {
  text-align: left;
  padding: 5px 25px 5px 5px;
  font-size: 18px;
}

input {
  @include button-tabs("");
}

button {
  @include button-tabs("");
}

.customer-display,
.login-display {
  @include height-width(55%, 70%);
  position: relative;
  top: 15%;
  left: 15%;
}

.button-tab {
  @include height-width(50px, 20%);
  @include button-tabs($redrum);
  font-size: 18px;
}

.button-tab:hover {
  background-color: $redrum-hover;
}

.button-tab-clicked {
  background-color: $redrum-hover;
  border: 3px solid $bluerum;
}

.customer-information,
.login-information {
  @include height-width(100%, 100%);
  @include button-tabs("");
  background: $redrum;
}

.hidden {
  display: none;
}