@import './partials/_variables';
@import './partials/_reset';
@import './partials/_keyframes';
@import './partials/_animations';
@import './partials/design';
@import './partials/layout';
@import './partials/spacing';
@import './components/header';
@import './components/login';
@import './components/customer';
@import './components/search.scss';
@import './components/cards';
@import './components/billing.scss';

* {
  color: $whiterum;
}

html, body {
  @include height-width(100%);
}

header {
  @include button-tabs("");
}

body::-webkit-scrollbar {
  display: none;
}

body {
  @include height-width(100%);
  background-image: $background;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

main {
  @include height-width(100%);
}

table {
  @include height-width("", 100%);
}

caption {
  font-size: 26px;
  margin-bottom: 10px;
}

th {
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}

td {
  text-align: left;
  padding: 5px 25px 5px 5px;
  font-size: 18px;
}

input {
  @include button-tabs("");
  @include height-width(30px, 150px);
  color: $blackrum;
}

input:hover {
  background-color: $greyrum;
}

button {
  @include button-tabs("");
}

input, button {
  cursor: pointer;
}

label {
  font-size: 22px;
}

.hidden {
  display: none;
}