.customer-button-row {
  @include height-width("", 100%);
  display: flex;
}

.customer-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.welcome-message {
  font-size: 50px;
  -webkit-animation: welcome-message 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: welcome-message 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.customer-new-bookings-date {
  @include height-width(80%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-new-bookings-wrapper {
  @include height-width(80%, 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.customer-new-bookings-wrapper::-webkit-scrollbar {
  display: none;
}

.customer-small-room-info {
  @include button-tabs($bluerum);
  @include height-width(85px, 90%);
  @include top-bot-marg(8px, 8px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 85px;
}

.heartbeat:hover {
  background-color: $redrum-hover;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.customer-small-room-info > p {
  font-size: 16px;
}

.small-room-info-left {
  text-align: left;
}

.small-room-info-right {
  text-align: right;
}

.customer-date-input-wrapper,
.input-box {
  @include height-width(200px, 90%);
  @include top-bot-marg(5px, 5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.customer-date-input {
  color: $blackrum;
}

.customer-date-search-button {
  @include height-width(25px, 100%);
  @include button-tabs($whiterum);
  font-size: 14px;
  color: $blackrum;
}

.customer-date-search-button:hover {
  background-color: $bluerum;
}

.customer-single-booking-title {
  @include height-width(20%, 100%);
  font-size: 22px;
  text-align: center;
}

.customer-single-booking-info,
.customer-single-booking-submit {
  @include height-width(40%, 100%);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-single-booking-info > h3{
  @include top-bot-marg(5px, 5px);
}

.customer-book-room-button {
  @include height-width(25px, 30%);
  @include button-tabs($bluerum);
  font-size: 14px;
  color: $blackrum;
}

.customer-book-room-button:hover {
  background-color: $bluerum;
}

.small-room-info {
  @include height-width("", 100%);
  display: flex;
  justify-content: space-evenly;
}

.total-bill-headline {
  font-size: 28px;
}

.total-bill-amount {
  font-size: 24px;
  -webkit-animation: grow 1.5s ease-in-out 4s infinite both;
  animation: grow 1.5s ease-in-out 4s infinite both;
}

.total-bill-message {
  font-size: 20px;
}

.scrolling {
  -moz-animation: scroller 2s linear;
  -webkit-animation: scroller 2s linear;
  animation: scroller 2s linear;
}

.pop-in {
  -webkit-animation: pop-up 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  animation: pop-up 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

.room-image {
  min-height: 55%;
  max-height: 80%;
  max-height: 55%;
  max-width: 80%;
}

.scale-in {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flip-card {
  @include height-width(100%, 100%);
  @include top-bot-marg(10px, 10px);
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  @include height-width(100%, 100%);
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front > h3,
.flip-card-back > h3 {
  font-size: 23px;
}
